.ui.main.borderless.menu {
    margin: -2px;
}
.ui.vertical.menu {
    min-width: 250px;
}

.ui .category, .ui .label .category, .product {
    background-size: 1.18em 1em;
    background-repeat: no-repeat;
    width: 1.18em;
}
.fish {
    background-image: url("../images/fish.png");
}
.dogs {
    background-image: url("../images/dogs.png");
}
.cats {
    background-image: url("../images/cats.png");
}
.birds {
    background-image: url("../images/birds.png");
}
.mice {
    background-image: url("../images/mice.png");
}

.ui.relaxed.grid>.column.menuLinks:not(.row) {
    padding: 0;
}

#pets {
    border: none;
    box-shadow: none;
}

#logo-img, .login-logo {
    background-image: url("../images/favicon.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
}
